body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
}

#card_center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
    width: 50%;
}

.form-group label{
   
    width:50%;
}

.form-check{
    margin-right: 2vw;
}
.butn-form-reg{
    margin-top: 3vh;
    margin-right: 2vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3vh;
}


