body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
#card_form{
    width: 85vh;
    max-width: 80vh;
    display: flex;
    flex-direction: column;
}
#card_center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.butn-form-reg{
    min-width: 80vh;
    width:73vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: end;
    
    
}

