body{
    display: flex;
    flex-direction:column;
    gap: 4vh;
    align-items: center;
}
.buttons{
    gap: 10%;
    width: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#badge_employee_pass{
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.5s; 
}

#badge_employee_user{
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.5s; 
}

#badge_user{
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.5s; 
}

#login{
width: 40%;
}

#Logout{
    width: 40%;

}