<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Electron app</title>
</head>
<body>
    <header class="mt-4">
        <img class="image_logo" src="../assets/img/negtivomonocromatico.png" alt="seullogo" width="300">
    </header>
    <div class="card border-primary mb-0" style="max-width: 120rem;">
        <div class="card-header"><h4>login</h1></div>
        <div class="card-body">
          <form id="login-form" action="#" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-2">ㅤEmployeeㅤㅤ</label><span id="badge_employee_user">ㅤ</span>
                <input type="text" class="form-control" id="employee" aria-describedby="emailHelp" placeholder="Enter Employee" autofocus>
              </div> 
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">ㅤUserㅤㅤ</label><span id="badge_user"></span>
                <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Enter user" style="width: 70vh;">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-2">ㅤPasswordㅤㅤ</label><span id="badge_employee_pass">ㅤ</span>
                <input type="text" class="form-control mb-0" id="password" aria-describedby="emailHelp" placeholder="Enter password">
              </div>
              <fieldset class="form-group">
                <div class="form-check mt-4">
                  <input class="form-check-input" type="checkbox" value="" id="signed_in">
                  <label class="form-check-label" for="flexCheckDefault">
                    Keep me signed in
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="show_password" checked="">
                  <label class="form-check-label" for="flexCheckChecked">
                    Show password
                  </label>
                </div>
              </fieldset>   
          </form>
        </div>
      </div>
      <div class=" buttons">
        <button type="submit" form="login-form" class="btn btn-outline-primary" id="login">Login</button>
        <button type="button" class="btn tn btn-outline-secondary" id="Logout">Exit</button>
      </div>
      <div>
        <p>Don't have account?<a href="#" style="margin-left: 3vh;">Create one</a></p>
      </div>
<script src="../views/js/index.js"></script>
</body>
</html>