<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/registerStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="card border-secondary" id="card_form">
        <div class="card-header">Your Information</div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Username:</label>
                <input type="text" class="form-control" placeholder="Username" id="inputDefault">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <label class="form-check-label" for="optionsRadios1">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <label class="form-check-label" for="optionsRadios2">Female</label>
            </div>
        </div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Full Name:</label>
                <input type="text" class="form-control" placeholder="Full Name" id="inputDefault">
            </div>
            <div class="-group">
                <label class="col-form-label" for="inputDefault">Number of Family Members:</label>
                <input type="number" class="form-control" placeholder="Full Name" id="inputDefault">
            </div>
            
        </div>
    </div>    
</body>
</html>

<!-- <div>
    <label class="col-form-label mt-4" for="inputDefault">Username</label>
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    <label class="col-form-label mt-4" for="inputDefault">Full Name</label>
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    <label class="col-form-label mt-4" for="inputDefault">Birthday</label>
    <input type="date" class="form-control" placeholder="Default input" id="inputDefault">
    <label class="col-form-label mt-4" for="inputDefault">Password</label>
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">i agree to the Terms and Conditions</label>
  </div>
  <div>
    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
    <label class="form-check-label" for="optionsRadios1">
      Option one is this and that—be sure to include why it's great
    </label>
    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
    <label class="form-check-label" for="optionsRadios1">
      Option one is this and that—be sure to include why it's great
    </label>
    <label class="col-form-label mt-4" for="inputDefault">Default input</label>
    <input type="number" class="form-control" placeholder="Default input" id="inputDefault">
    <label class="col-form-label mt-4" for="inputDefault">Default input</label>
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    <p>View Terms and Conditions<a href="../views/register.html" style="margin-left: 3vh;"></a></p>
  </div> -->