<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/registerStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="card border-secondary" id="card_form">
        <div class="card-header">Your Information</div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Username:</label>
                <input type="text" id="username" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="male_radio" name="optionsRadios" value="option1" required>
                <label class="form-check-label" for="optionsRadios1">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio"  id="female_radio" name="optionsRadios" value="option2" required>
                <label class="form-check-label" for="optionsRadios2">Female</label>
            </div>
        </div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Full Name:</label>
                <input type="text" class="form-control"  id="full_name" placeholder="Full Name" required >
            </div>
            <div class="group">
                <label class="col-form-label" for="inputDefault">Number of Family Members:</label>
                <input type="number" class="form-control" id="family_members" placeholder="Family Members" required>
            </div>
        </div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Birthday</label>
                <input type="date" class="form-control"  id="birthday" placeholder="Birthday" required>
            </div>
        </div>
        <div class="card-body" id="card_center">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Password</label>
                <input type="text" class="form-control"  id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Retype Password</label>
                <input type="text" class="form-control"  id="retype_password" placeholder="Retype Password">
            </div>
        </div>
        <div class="card-body" id="card_center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terms_conditions_checkbox" disabled>
                <label class="form-check-label" for="flexCheckChecked">I agree to the Terms and Conditions</label>
            </div>
            <div class="form-link">
                <a href="#" class="card-link" id="terms_conditions">View Terms and Conditions</a>
            </div>
        </div>
    </div>    
    <div class="butn-form-reg">
        <button type="button" id="register_login" class="btn btn-outline-primary">Register & login</button>
        <button type="button" id="return-login-btn" class="btn btn-outline-secondary">Return login form</button>
    </div>
    <script src="../views/js/register.js"></script>
</body>
</html>